{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% set depth = depth|default(0) %}
{% set children = children|default([]) %}
{% set displayDepth = displayDepth|default(0) %}
{% set maxDepth = maxDepth|default(0) %}

<div class="fos_comment_comment_show fos_comment_comment_depth_{{ depth }}" id="{{ comment.id }}">
    <div class="fos_comment_comment_single">
        <div class="fos_comment_comment_metas">
            <div class="wall-profile-picture"><a href="{{ comment.author.profileLink }}" target="_blank"><img src="{{ comment.author.picture|default(asset("bundles/igod/img/anonymous.jpg")) }}" alt="{{ comment.author }}"></a></div>
            {% trans from 'FOSCommentBundle' %}fos_comment_comment_show_by{% endtrans %} <a class="fos_comment_comment_author" href="{{ comment.author.profileLink }}" target="_blank">{{ comment.authorName }}</a>
        </div>
        <div class="fos_comment_comment_body">
            {{ comment.body }}
        </div>
    </div>
    <div class="fos_comment_comment_extras">
        <div class="fos_comment_comment_date">Le {{ comment.createdAt|date('d M Y à H:i:s') }} -&nbsp;</div>
        {% if maxDepth == 0 or depth < (maxDepth-1) %}
        <div class="fos_comment_comment_reply">
            <a href="#" data-url="{{ path('fos_comment_comment_create', {"threadIdentifier": comment.thread.identifier, "parentId": comment.id}) }}" data-name="{{ comment.authorName }}" class="fos_comment_comment_reply_show_form">{% trans from 'FOSCommentBundle' %}fos_comment_comment_show_reply{% endtrans %}</a> -&nbsp;
        </div>
        {% endif %}
        {% if comment is fos_comment_votable %}
        <div class="fos_comment_comment_score_container">
            <a href="#" data-url="{{ path("fos_comment_vote_add_up", {"commentId": comment.id}) }}" class="fos_comment_comment_vote fos_comment_comment_vote_up">{% trans from 'FOSCommentBundle' %}fos_comment_comment_show_voteup{% endtrans %}</a>
            <a href="#" data-url="{{ path("fos_comment_vote_add_down", {"commentId": comment.id}) }}" class="fos_comment_comment_vote fos_comment_comment_vote_down">{% trans from 'FOSCommentBundle' %}fos_comment_comment_show_votedown{% endtrans %}</a>
            <div class="fos_comment_comment_score">{{ 'fos_comment_comment_score_people'|transchoice(comment.score, {'%num%':comment.score}, 'FOSCommentBundle') }}</div>
        </div>
        {% endif %}
    </div>
    <div class="clear"></div>
    {% if maxDepth == 0 or depth < (maxDepth-1) %}
    <div class="fos_comment_comment_replies">
        {% include "FOSCommentBundle:Comment:tree.html.twig" with { "nodes": children, "depth": depth + 1, "displayDepth": displayDepth, "sorter": sorter } %}
    </div>
    {% endif %}
</div>
